@use '../foundation/variable.scss' as *;

/** common */
// HTML
.l-html {
    &--themeColor {
        background-color: $color-base;
    }
}

// btn
.c-btn {
    &--general {
        color: $color-btn-general-font;
        font-weight: bold;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: $color-btn-general-bg;
    }
}

// table
.c-table {
    min-width: 1000px;
    table-layout: fixed;
    word-break: break-all;
}
.c-th {
    &--sunday {
        background-color: $color-table-th-sunday;
    }
    &--saturday {
        background-color: $color-table-th-saturday;
    }
}
.c-td {
    &--parent {
        background-color: $color-table-td-parent;
        border-right: none;
    }
    &--child {
        padding-left: 32px;
    }
    &--number {
        text-align: right;
    }
}

// modal
.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 2% 4%;
    width: 100%;
    height: 100%;
    background-color: $color-modal-bg;

    &__body {
        color: $color-modal-content-font;
        background-color: $color-modal-content-bg;
        padding: 2%;
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 10px;

        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}