@use '../foundation/variable.scss' as *;

/** common */
// HTML
.l-html {
    &--themeColor {
        background-color: $color-base;
    }
}

// row
.c-row {
    &--add {
        display: flex;
        align-items: center;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            background-color: $color-btn-general-bg;
        }
    }
}

// btn
.c-btn {
    transition: all 0.2s;

    &--general {
        color: $color-btn-general-font;
        font-weight: bold;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: $color-btn-general-bg;
        padding: 4px 8px;
    }
    &--add {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px dashed #ddd;
        border-radius: 50%;
    }
    &--create {
        background-color: $color-btn-create-bg;
        color: $color-btn-crud-font;
        border-radius: 5px;
        padding: 8px 16px;
    }
    &--sort {
        &:hover {
            background-color: $color-btn-general-bg--hover;
        }
    }
    &--delete {
        &:hover {
            background-color: $color-btn-delete-bg;
        }
    }
}

// table
.c-table {
    min-width: 1000px;
    table-layout: fixed;
    word-break: break-all;
}
.c-th {
    &--sunday {
        background-color: $color-table-th-sunday;
    }
    &--saturday {
        background-color: $color-table-th-saturday;
    }
    &--control,
    &--task_status,
    &--complete_ratio,
    &--time {
        width: 80px;
        text-align: center;
    }
    &--end_date,
    &--start_date {
        width: 120px;
        text-align: center;
    }
}
.c-td {
    transition: all 0.2s;

    &--add {
        cursor: pointer;

        &:hover {
            background-color: $color-btn-general-bg;
        }
    }
    &--parent {
        background-color: $color-table-td-parent;
        border-right: none;
    }
    &--child {
        &:first-child {
            padding-left: 32px;
        }
    }
    &--number {
        text-align: right;
    }
    &--control {
        display: flex;
        justify-content: center;
    }
}

// modal
.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 2% 4%;
    width: 100%;
    height: 100%;
    background-color: $color-modal-bg;

    &__body {
        color: $color-modal-content-font;
        background-color: $color-modal-content-bg;
        padding: 2%;
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 10px;

        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
        }
    }
}