@use '../foundation/variable.scss' as *;

.c-modal__body {
    display: flex;
    flex-flow: column;
}

.p-dailyReport {
    padding: 24px;
    background-color: #343434;
    border-radius: 10px;
    height: 100%;
    flex-grow: 1;
    overflow: auto;

    dl {
        display: grid;
    }
    h4 {
        margin-bottom: 8px;
    }

    &__field {
        border-bottom: 1px solid #666;
        padding-bottom: 16px;
        margin-bottom: 16px;
        grid-template-columns: 72px 1fr;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        &.time {
            dt {
                &::after {
                    content: ':';
                    position: absolute;
                    right: 0;
                }
            }
        }
        // .task {
        //     grid-gap: 16px 0;
        //     grid-template-columns: 168px 1fr;
        //     padding-left: 16px;
        // }
    }
}