@use '../foundation/variable.scss' as *;

.c-modal__body {
    display: flex;
    flex-flow: column;
}

.p-dailyReport {
    padding: 24px;
    background-color: #343434;
    border-radius: 10px;
    height: 100%;
    flex-grow: 1;
    overflow: auto;

    dl {
        display: grid;
    }

    &__time {
        grid-template-columns: 72px 1fr;
    }
    &__completed {
        grid-gap: 16px 0;
        grid-template-columns: 168px 1fr;
        padding-left: 16px;
    }

    .field {
        border-bottom: 1px solid #666;
        padding-bottom: 8px;
        margin-bottom: 8px;

        &:last-child {
            border-bottom: none;
        }
    }
}