@use '../foundation/variable.scss' as *;

/** p-app */
.p-app {
    h1 {
        margin-bottom: 24px;
    }
    &__top {
        display: flex;
        justify-content: space-between;

        .c-btn--create {
            font-weight: bold;
            height: fit-content;
        }
    }
    &__section {
        padding: 0;
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }

        &__title {
            margin-bottom: 8px;
        }
        &__main {
            border: 1px solid #fff;
            border-radius: 8px;
            overflow: auto;
        }
        &__list {
            display: flex;

            &__project {
                position: relative;
                margin-left: 24px;
                padding: 8px 16px;
                min-width: 360px;
                min-height: 45px;
                background-color: #111;
                border-radius: 8px;

                &.c-row--add {
                    height: 45px;
                }

                &:first-child {
                    margin-left: 0;
                }

                &__name {
                    border-bottom: 1px solid #fff;
                    padding-bottom: 8px;
                    margin-bottom: 8px;
                }
                &__task {
                    &--add {
                        width: 100%;
                        border-radius: 8px;
                        // text-align: left;

                        &:hover {
                            cursor: pointer;
                            background-color: $color-btn-general-bg;
                        }
                    }
                }
            }
            &__function {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 12px;
                border-radius: 0 8px 8px 0;

                &:hover {
                    cursor: pointer;
                    background-color: $color-btn-general-bg;
                }
            }
            &__options {
                position: absolute;
                top: 50%;
                right: -32px;
                transform: translateY(-50%);
                z-index: 10;
                font-size: 1.2rem;
                background-color: #000;
                border: 1px solid #555;
                border-radius: 4px;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -12px;
                    transform: translateY(-50%);
                    border-width: 6px;
                    border-style: solid;
                    border-color: transparent #555 transparent transparent;
                }

                &__btn {
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;

                    &:hover {
                        background-color: $color-btn-delete-bg;
                    }
                }
            }
        }
    }
    .wbs {
        background-color: $color-base;

        &__table {
            td {
                border-left: none;
            }
        }
        &__title {
            white-space: nowrap;
            color: $color-font-base;
        }
        &__bar {
            position: relative;
            height: 8px;
            border-radius: 999px;
            background-color: $color-wbs-bar;
            overflow: hidden;

            &__fill {
                height: 100%;
            }

            &.status-1 .wbs__bar__fill { background: #ff4b4b; }
            &.status-2 .wbs__bar__fill { background: #3491d3; }
            &.status-3 .wbs__bar__fill { background: #222; }
        }
    }
}