@use '../foundation/variable.scss' as *;

/** p-app */
.p-app {
    h1 {
        margin-bottom: 24px;
    }
    &__top {
        display: flex;
        justify-content: space-between;

        .c-btn--create {
            font-weight: bold;
            height: fit-content;
        }
    }
    &__section {
        padding: 0;
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }

        &__title {
            margin-bottom: 8px;
        }
        &__main {
            border: 1px solid #fff;
            border-radius: 8px;
            overflow: auto;
        }
        &__list {
            display: flex;
            min-height: 50vh;
            overflow: auto;
            -ms-overflow-style: none;  /* IE/Edge(旧) */
            scrollbar-width: none;     /* Firefox */
            &::-webkit-scrollbar {
                display: none;         /* Chrome,Safari,Opera */
            }

            &__project {
                position: relative;
                margin-left: 24px;
                padding: 8px 16px;
                min-width: 360px;
                min-height: 45px;
                background-color: #111;
                border-radius: 8px;

                &.c-row--add {
                    height: 45px;
                }

                &:first-child {
                    margin-left: 0;
                }

                &__header {
                    position: relative;
                }
                &__name {
                    border-bottom: 1px solid #fff;
                    padding-bottom: 8px;
                    margin-bottom: 8px;
                }
                &__task {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding-right: 14px;

                    &--add {
                        width: 100%;
                        border-radius: 8px;

                        &:hover {
                            cursor: pointer;
                            color: #fff;
                            background-color: #222;
                        }
                    }
                    &--memo {
                        width: 100%;
                        font-size: 1.4rem;
                        padding: 0 0 0 16px;
                    }
                    &__btn {
                        margin-right: 8px;
                    }
                }
            }
            &__function {
                position: absolute;
                top: 1px;
                right: 0;
            }
            &__options {
                position: absolute;
                z-index: 10;
                width: 104px;
                font-size: 1.2rem;
                background-color: $color-btn-general-bg;
                border: 1px solid #666;
                border-radius: 4px;
                transition: 0.2s all;

                &.is-open {
                    opacity: 0.8;
                    top: 0;
                    right: -104px;

                    // right: 0;
                }
                &.is-closed {
                    opacity: 0;
                    top: 2px;
                    right: -88px;
                    pointer-events: none;

                    // top: 4px;
                    // right: -8px;
                }

                &__btn {
                    width: 100%;
                    height: 24px;
                    border-radius: 4px;
                }
            }
        }
    }
    .wbs {
        background-color: $color-base;

        &__table {
            td {
                border-left: none;
            }
        }
        &__title {
            white-space: nowrap;
            color: $color-font-base;
        }
        &__bar {
            position: relative;
            height: 8px;
            border-radius: 999px;
            background-color: $color-wbs-bar;
            overflow: hidden;

            &__fill {
                height: 100%;
            }

            &.status-1 .wbs__bar__fill { background: #ff4b4b; }
            &.status-2 .wbs__bar__fill { background: #3491d3; }
            &.status-3 .wbs__bar__fill { background: #222; }
        }
    }
}